default: &default
  adapter: postgresql
  encoding: unicode
  username: <%= ENV['DATABASE_USERNAME'] %>
  password: <%= ENV['DATABASE_PASSWORD'] %>
  pool: 5

development:
  <<: *default
  database: <%= config[:app_name] %>_development

test:
  <<: *default
  database: <%= config[:app_name] %>_test

production:
  url: <%= ENV['DATABASE_URL'] %>
